@model UserProfile
@{
    ViewData["Title"] = "Profile";
}
<style>
    body {
        min-height: 100vh; 
        margin: 0; 
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        background-image: url("https://www.hdcarwallpapers.com/walls/porsche_911_turbo_s_exclusive_aloy_wheel_4k-HD.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .pic {
        width: 30vh;
        height: 30vh;
        border: solid white 1px;
        border-radius: 1000px;
    }

    .myDiv {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-top: -90vh;
        margin-bottom: 10vh;
        padding-top: 0;
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    @@media (min-width: 990px) {
        .login {
            display: flex;
            border-radius: 40px;
            width: fit-content;
            text-align: center;
            padding: 40px;
            box-shadow: 0px 0px 10px white;
        backdrop-filter: blur(5px);
            margin: 0px;
        }
    }

    @@media (max-width: 990px) {
        .login {
            display: flex;
            border-radius: 40px;
            text-align: center;
            padding: 40px;
            box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.7);
            margin: 0px;
        }
    }

    ::-webkit-scrollbar {
        width: 0;
        background: transparent;
    }

    .form-control {
        border: solid white 2px
    }
</style>

<div class="myDiv text-white">
    <div class="login">
        <fieldset class="flex-grow-1">
            <legend >Profile</legend>
            @{
                if (@Model.PicUri != null)
                {
                    <img src="@Model.PicUri" class="pic my-3">
                }
            }
            
            <h2 class="text-white fs-4">Username: @Model.Username</h2>
            
            <h2 class="text-white fs-4">Name: @Model.FullName</h2>
            
            <h2 class="text-white fs-4">Mail id: @Model.Email</h2>
            
            <a asp-controller="UserProfile" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-outline-warning fs-6 text-black" >Update Account</a>
            <a href="/UserProfile/Delete/@Model.Id" class="btn btn-outline-danger fs-6" onclick="return confirmDelete();">Delete Account</a>
        </fieldset>
    </div>
</div> 

<script type="text/javascript">
    function confirmDelete() {
        return confirm("Are you sure you want to delete your account permanently?");
    }
</script>