@model UserSavedPics
@{
    ViewData["Title"] = "Saved Images";
}
<style>
    body {
        background-image: url("https://www.wsupercars.com/wallpapers-regular/Pagani/2016-Pagani-Huayra-BC-019-1080.jpg");
        backdrop-filter: blur(4px);
        background-size: auto;
        background-position: center;
        min-height: 100vh;
        margin: 0;
    }

    .image-container {
        position: relative;
        display: inline-block;
    }

    .image {
        display: block;
    }

    .button-overlay {
        position: absolute;
        top: 7px;
        right: -7%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        font-size: 14px;
    }

    .button-overlay:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .button-overlay-download {
        position: absolute;
        top: 52px;
        right: -7%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        font-size: 14px;
    }

    .button-overlay-download:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .button-overlay-save {
        position: absolute;
        top: 97px;
        right: -7%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        font-size: 14px;
    }

    .button-overlay-save:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .pagination {
        margin: 20px;
        margin-bottom: 60px;
        text-align: center;
        width: 30%;
    }

    .pagination-button {
        background-color: #007bff;
        color: white;
        padding: 10px 15px;
        margin: 5px;
        text-decoration: none;
        border-radius: 5px;
    }

    .pagination-button:hover {
        background-color: #0056b3;
    }

    .pagination span {
        padding: 10px 15px;
        margin: 5px;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        padding-top: 60px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(5px);
    }

    .modal-content {
        margin: auto;
        display: block;
        max-width: 90%;
        max-height: 90%;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    .close {
        position: absolute;
        top: 20px;
        right: 35px;
        color: #ffffff;
        font-size: 40px;
        font-weight: bold;
        cursor: pointer;
        text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    }

    .close:hover,
    .close:focus {
        color: #ccc;
        cursor: pointer;
    }
</style>
<div id="imageModal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <img class="modal-content" id="modalImage">
</div>
<main class="d-flex flex-wrap justify-content-center">
    @if (ViewBag.SmallImageUrl != null && ViewBag.FullImageUrl != null)
    {
        var smallUrls = (string[])ViewBag.SmallImageUrl;
        var fullUrls = (string[])ViewBag.FullImageUrl;
        var imageSlugs = (string[])ViewBag.ImageSlugs;
        var imageIds = (int[])ViewBag.ImageIds;

        for (var i = 0; i < smallUrls.Length; i++)
        {
            <div class="image-container">
                <img src="@smallUrls[i]" alt="@imageSlugs[i]" class="image" width="300" height="300" />
                <a class="button-overlay" onclick="openModal('@fullUrls[i]')">
                    <i class="bi bi-eye"></i>
                </a>
                <button class="button-overlay-download" onclick="downloadImage('@fullUrls[i]', '@imageSlugs[i]')">
                    <i class="bi bi-download"></i>
                </button>
                <button class="button-overlay-save" type="button" onclick="unsaveImage(@imageIds[i])">
                    <i class="bi bi-bookmark-fill"></i>
                </button>
            </div>
        }

    }
</main>

<div class="pagination mx-auto" role="group">
    @if (ViewBag.CurrentPage > 1)
    {
        <a href="@Url.Action("Index", new { page = ViewBag.CurrentPage - 1 })" class="pagination-button me-auto">Previous</a>
    }
    else
    {
        <a class="w-25 me-4"></a>
    }

    <span>Page @ViewBag.CurrentPage of @ViewBag.TotalPages</span>

    @if (ViewBag.CurrentPage < ViewBag.TotalPages)
    {
        <a href="@Url.Action("Index", new { page = ViewBag.CurrentPage + 1 })" class="pagination-button ms-auto">Next</a>
    }
    else
    {
        <a class="ms-auto"></a>
    }
</div>

<script>
    function downloadImage(url, name) {
        fetch(url, {
            method: 'GET',
            headers: {}
        })
            .then(response => response.blob())
            .then(blob => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.style.display = 'none';
                a.href = url;
                a.download = `${name}.jpg`;
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
            })
            .catch(() => alert('Failed to download the image.'));
    }

    function unsaveImage(id) {
        const apiUrl = '@ViewBag.ApiUrl';
        fetch(`${apiUrl}/api/user-saved-pics?id=${id}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => response.json())
            .then(data => {
                if (data.isSuccess) {
                    alert("Image un-saved successfully!");
                    window.location.href = "/UserSavedPics";
                } else {
                    alert("Failed to un-save image: " + data.message);
                }
            })
            .catch(error => console.error('Error:', error));
    }

    function openModal(imageUrl) {
        document.getElementById("modalImage").src = imageUrl;
        document.getElementById("imageModal").style.display = "block";
    }

    function closeModal() {
        document.getElementById("modalImage").src = "";
        document.getElementById("imageModal").style.display = "none";
    }
</script>